[alias]
  a = add
  b = branch
  cm = commit -m
  cl = clone
  co = checkout
  db = "!f() { git branch | grep \"$1\" | xargs git branch -D;}; f"
  lg = log --graph --all --pretty='%C(bold red)%h%Creset -%C(bold green)%d%Creset %s %C(bold green)(%cr)%Creset %C(bold blue)<%an>%Creset'
  pu = push
  pl = pull
  st = status
  sw = switch
[color]
  ui = auto
[commit]
  gpgsign = true
[core]
  quotepath = false
[gpg]
  format = ssh
[gpg "ssh"]
	allowedSignersFile = ${GIT_ALLOWED_SIGNERS_FILE}
[merge]
  ff = false
[pull]
  ff = only
[rebase]
  autosquash = true
[user]
  name = ${GIT_NAME}
  email = ${GIT_EMAIL}
	signingkey = ${GIT_SIGNINGKEY}
[init]
	defaultBranch = main
